* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 32px;
}

button {
    padding: 16px;
    border: none;
    border-radius: 32px;
    color: white;
    cursor: pointer;
}

.player1btn {
    background-color: blue;
}

.player2btn {
    background-color: red;
}

.restartbtn {
    background-color: green;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: min(80vh, 80vw);
    width: min(80vh, 80vw);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(min(80vh, 80vw) / 4);
}

.footer {
    display: flex;
    align-items: center;
    gap: 32px;
}